<!DOCTYPE html>

<html>
    <head>
        <title>My projects</title>

        <meta charset="utf-8">
        <link rel="stylesheet" href="/app/static/style.css">

    </head>

    <body>

    <main role="main" class="container extra-bottom">
      <h1 class="mt-5">Mes projets</h1>
    </main>
    

    <div class="container">    
        
        <!-- Button trigger modal -->
        <div style="text-align: right;">
        <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="New Task">Add Task</button>
        </div>

        
        <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">Ajouter un projet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="task-form-display">Code postal</span>
                    <input type="text" class="form-control" placeholder="Description of task" aria-label="task-name" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button id="submit-task" type="button" class="btn btn-primary">Sauvegarder</button>
            </div>
            </div>
        </div>
        </div>

    </div>

    <!--Todo Table-->
    <div class="container table-responsive">          
    <table class="table">
        <thead>
        <tr>
            <th class="task-id">Id</th>
            <th class="task">Parcelle</th>
            <th class="task">CA</th>
            <th class="task">Créer le</th>
            <th class="status">Status</th>
            <th class="update">Modifier</th>
            <th class="update">Supprimer</th>
        </tr>
        </thead>
    </table>
    </div>

  </body>

</html>